#logo{
	width: 212px;
	height: 212px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

#selects{
	border:2px solid #6EBDB7;
	margin-top: 15px;
	height: 30%;
	width: 30%;
	font-size: 20px;
}

option{
	border:1.5px solid #5992DC;
	padding: 3px;
	white-space: pre-wrap;
}

h1{
	text-align: center;
	color: #6EBDB7;
}

body{
	background-color: #F8F8DA;
	font-family: sans serif;
}

input{
	border:2px solid #6EBDB7;
	display: block;
	width: 250px;
	max-width: 250px;
	max-height: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	border-radius: 5px;
}

#SignoutButton{
	float: right;
	vertical-align: top;
}

#audio{
	display: block;
	margin: 0 auto;
}

.su, .li{
	display: block;
	margin: 0 auto;
	padding: 25px;
	width:300px;
	border:3px solid #5992DC;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#live, #livp,
#suvn, #suve,
#suvp, #suvcp,#suvu{
	color:red;
	margin-left:20px;
	margin-top: -5px;
	font-family: Arial, sans-serif;
	display: none;
}

#welcome{
	display: block;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #5992DC;
	float: right;
	margin-right: 10px;
}

#LoginButton{
	margin-bottom: 10px;
}

#suSignupButton{
	margin-bottom: 8px;
}

#SignoutButton{
	width: 150px;
	color: #E27573;
}

#choose, #uploadButton, #fileName, #fae{
	display: inline-block;
}

#fae{
	color: red;
	font-family: Arial, sans-serif;
	display: none;
}

#fileName, #uploadButton{
	margin-top: 5px;
}

#uploadButton{
	width: 75px;
	font-size: 16px;
}

#audio{
	display: block;
	width: 60%;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	position: fixed;
	right: 5px;
}

#uploader{
	margin-bottom: 10px;
	width: 25%;
}

button{
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	width: 250px;
	color: #5992DC;
	background-color: #fff;
	margin-top: 10px;
}