h1{
	text-align: center;
	color: #6EBDB7;
	margin-top: 5px;
}

* {
  margin: 0px;
}

h5{
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 1px;
	background-color: #eaeaea;
}

h5:hover{
	background-color: #fff;
}

body{
	background-color: #ffffff;
    font-family: "Lucida Grande";
    padding-bottom: 20px;
}

button{
	cursor: pointer;
}

#SignoutButton{
	float: right;
	width: 125px;
	color: #E27573;
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	margin-right: 5px;
}

#backButton{
	cursor: pointer;
	float: left;
	width: 8%;
	min-width: 70px;
	color: #E27573;
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	margin-left: 10px;
}

#welcome{
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #5992DC;
	float: right;
	margin-right: 10px;
}

#searchButton{
	width: 13%;
	min-width: 125px;
	color: #5992DC;
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 22px;
	background-color: #fff;
	
}

#search{
	width:50%;
	min-width: 300px;
	margin-top: 100px;
	margin-left: 10px;
	font-size: 25px;
	border:2px solid #6EBDB7;
	border-radius: 5px;
	height: 30px;
	margin: 0px auto;
	background-color: #fcfcfc;
}

#newFile, #deleteFile{
	width: 13%;
	min-width: 125px;
	color: #5992DC;
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 22px;
	background-color: #fff;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 15px;
}

img{
	display: inline-block;
	vertical-align: middle;
	width:50px;
	height:50px;
}

#center{
	display: inline-block;
	vertical-align: middle;
	color:black;
}

#list{
	background-color: #fafafa;
	margin-bottom: 1px;
}

ul{
	list-style: none;
}

#fileName{
	width:20%;
	min-width: 200px;
	font-size: 20px;
	border:2px solid #6EBDB7;
	border-radius: 5px;
}

#uploadButton, #deleteButton, #yes, #no{
	width: 13%;
	min-width: 125px;
	color: #5992DC;
	border:2px solid #6EBDB7;
	border-radius: 50px;
	font-size: 18px;
	background-color: #fff;
	margin-left: 10px;
}

#fae{
	color: red;
}

/*modal*/
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        margin:0 auto;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.time{
	background-color: #5992DC;
	display:inline-block;
	color: white;
	text-align: center;
	vertical-align: middle;
}
.note{
	display:inline-block;
	width: 75%;
    border: 0px solid #000000;
	word-wrap: break-word;
	font-size: 20px;
	vertical-align: middle;
}

.notes{
	margin:5px auto;
	width:98%;
	border:2px solid #6EBDB7;
	border-radius:5px;
	background-color: white;
}

.noteAdder{
	margin: 5px auto;
	padding:10px;
	height:5%;
	width: 80%;
	background-color: #6EBDB7;
	border:2px solid #6EBDB7;
	border-radius: 10px;
}

#listOfFiles{
	cursor: pointer;
}

#noteInput{
	display: inline-block;
	height:45px;
	max-height: 60px;
	width:80%;
	min-width:80%;
	max-width:80%;
	border:2px solid #6EBDB7;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 10px;
	vertical-align: middle;
	margin-right: 5px;
}

#addNote{
	display: inline-block;
	border:2px solid #6EBDB7;
	width:50px;
	border-radius: 10px;
	font-size: 20px;
	background-color: white;
	color:#5992DC;
	vertical-align: middle;
}

.edit{
	border:2px solid #6EBDB7;
	width:50px;
	border-radius: 10px;
	font-size: 16px;
	background-color: white;
	color:#5992DC;
	margin:5px;
	vertical-align: middle;
}

.delete{
	border:2px solid #6EBDB7;
	width:70px;
	border-radius: 10px;
	font-size: 16px;
	background-color: white;
	color:red;
	margin:5px;
	vertical-align: middle;
}

#editor{
	display: inline-block;
	height:45px;
	max-height: 45px;
	width:500px;
	min-width:100%;
	max-width: 100%;
	border:2px solid #6EBDB7;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
}

#edit, #cancel{
	display: inline-block;
	border:2px solid #6EBDB7;
	width:50px;
	border-radius: 10px;
	font-size: 20px;
	background-color: white;
	color:#5992DC;
	vertical-align: middle;
}

.loader {
	margin: 10px auto;
    border: 16px solid #e4e4e4; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h4, img{
	cursor: pointer;
}

.navigator{
	display: inline-block;
	vertical-align: top;
	background-color: #f4f4f4;
	height: 100%;
	width:15%;
	min-width: 150px;
}
